<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
		<form th:action="@{/mypage/deleteUser}" th:object="${userDeleteForm}" method="post">
		<body>
			<div>
				<h3>AyoPlanner</h3>
					<p>여행 스케줄링 플래너, 에이요플래너</p>
					<br></br>
    				<h4><b>회원 탈퇴 안내 사항</b></h4>
    				<br></br>
					<div th:replace="form_errors :: formErrorsFragment"></div>
       			 <div>
           			 <p>회원 정보 및 여행 일정 데이터 등</p> 
           			 <p>개인 서비스 이용 기록은 탈퇴 즉시 모두 삭제되며,</p>
					 <p><b>삭제된 데이터는 복구되지 않습니다.</b></p>
						<br></br>
       			 </div>
        		<div class="leftStart-text" style="margin-top:20px;">
           			<label for="password" style="font-weight: bold" max-width:500px;>현재 비밀번호</label>
            		<input type="password" th:field="*{password}" id="password" class="form-control">
        		</div>
        		<div style="display:flex; margin-top:30px;">
        			<a th:href="@{/mypage/profile}" class="custom-btn2-common" style="margin-right:20px;">돌아가기</a>
        			<button type="submit" onclick="return confirm('정말 탈퇴하시겠습니까?')" id="deleteButton" class="custom-btn3-common">탈퇴하기</button>
        		</div>
        	</div>
        </div>
	</div>
    </form>
</div>

<script layout:fragment="script" type="text/javascript">
	
	const delete_elements = document.getElementById("delete");
	Array.from(delete_elements).forEach(function(element){
		element.addEventListener('click', function(){
			if(confirm("정말 탈퇴하시겠습니까?")){
				location.href = this.dataset.uri;
			};
		});
	});
</script>
</html>