<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
	<div class="container-fluid">
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
			<a class="navbar-brand" href="/">Ayoplanner</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-2">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/makingplans}">
						<p class="click-effect">일정만들기</p>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/planner}">
						<p class="click-effect">여행자플래너</p>
					</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link" th:href="@{/post/list}">
						<p class="click-effect">커뮤니티</p>
					</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link" th:href="@{/support}">
						<p class="click-effect">고객지원</p>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/howtouse}">
						<p class="click-effect">이용방법</p>
					</a>
				</li>						
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">
						<p class="click-effect">로그인</p>
					</a>
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">
						<p class="click-effect">로그아웃</p>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/signup}">
						<p class="click-effect">회원가입</p>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/mypage}">
						<p class="click-effect">마이페이지</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>