<html layout:decorate="~{admin_layout}">
<div layout:fragment="content" class="container">
	<div style="padding-top: 20px;">
		<h5 class="border-bottom pb-2 mb-3">비밀번호를 잊으셨나요?</h5>
	</div>
	<form th:action="@{/admin/sendEmail}" method="post" name="adminEmail" class="post-form py-3">
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
		<div class="form-group">
			<label for="adminEmail">비밀번호 재설정을 위해 회원가입시 등록했던 이메일 주소를 입력하세요.</label>
			<input type="email" class="form-control" name="adminEmail" id="adminEmail">
		</div>
		<div class="my-3">
			<a href="/admin/login">로그인으로 돌아가기</a>
		</div>
		<button type="submit" class="btn btn-sm btn-primary">보내기</button>
	</form>
</div>
</html>
