<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<div class="my-3 border-bottom">
		<div>
			<h4>관리자 회원가입</h4>
		</div>
	</div>
	<form th:action="@{/admin/signup}" th:object="${adminCreateForm}" method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="mb-3">
			<label for="adminName" class="form-label">사용자ID</label>
			<input type="text" th:field="*{adminName}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="adminPassword1" class="form-label">비밀번호</label>
			<input type="password" th:field="*{adminPassword1}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="adminPassword2" class="form-label">비밀번호 확인</label>
			<input type="password" th:field="*{adminPassword2}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="adminEmail" class="form-label">이메일</label>
			<input type="email" th:field="*{adminEmail}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="position" class="form-label">직책</label>
			<input type="text" th:field="*{position}" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">회원가입</button>
	</form>
</div>

</html>