<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<body>
		<div>
			<h3>AyoPlanner</h3>
			<p>여행 스케줄링 플래너, 에이요플래너</p>
			<br></br>
			<b>회원정보 수정을 위한 비밀번호 확인 절차입니다.</b>
			<br></br>
		</div>
		<div class="checkPwd-container">
			<div class="card-body">
				<div class="text-start">
					<div class="input-group input-group-outline my-3">
						<label class="form-label" style="margin-right: 10px;"><b>비밀번호 확인</b></label>
						<input type="password" id="password" name="password" class="form-control">
					</div>
				</div>
				<div class="text-center">
					<button class="custom-btn-common" id="checkPwd">비밀번호 확인</button>
				</div>
			</div>
		</div>

<script>
     $('#checkPwd').click(function() {
        const checkPassword = $('#password').val();
        if(!checkPassword || checkPassword.trim() === ""){
            alert("비밀번호를 입력하세요.");
        } else{
            $.ajax({
                type: 'GET',
                url: '/mypage/checkPwd',
                data: {'checkPassword': checkPassword},
                datatype: "text"
            }).done(function(result){
                console.log(result);
                if(result){
                    console.log("비밀번호 일치");
                    window.location.href="/mypage/profile";
                } else if(!result){
                    console.log("비밀번호가 틀립니다.");
                    // 비밀번호가 일치하지 않으면
                    alert("비밀번호가 맞지 않습니다.");
                    window.location.reload();
                }
            }).fail(function(error){
                alert(JSON.stringify(error));
            })
        }
    });
</script>
</body>
</html>
