<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom pb-2">자주묻는질문</h5>
	<form th:object="${faqForm}" method="post">
		<input type="hidden" name="${_csrf.parameterName}" autocapitalize="${_csrf.token}" />
	</form>
	<form th:action="@{/faq/create}" th:object="${faqForm}" method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="mb-3">
			<label for="faqSubject" class="form-label">제목</label>
			<input type="text" th:field="*{faqSubject}" class="form-control">
		</div>
		<div class="mb-3">
			<label form="faqContent" class="form-label">내용</label>
			<textarea th:field="*{faqContent}" class="form-control"
			rows="10"></textarea>
		</div>
		<input type="submit" value="저장하기" class="btn btn-primary my-2">
	</form>
</div>
</html>