<table>
	<thead>
		<tr>
			<th>제목</th>
			<th>작성일시</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="faq : ${faqList}">
			<td>
				<a th:href="@{|/faq/detail/${faq.faqId}|}"
				th:text="${faq.faqSubject}"></a>
			</td>
			<td th:text="${faq.faqCreateDate}"></td>
		</tr>
	</tbody>
</table>

<table>
	<thead>
		<tr>
			<th>제목</th>
			<th>작성일시</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="inquiry : ${inquiryList}">
			<td>
				<a th:href="@{|/inquiry/detail/${inquiry.inquiryId}|}"
				th:text="${inquiry.InquirySubject}"></a>
			</td>
			<td th:text="${inquiry.inquiryCreateDate}"></td>
		</tr>
	</tbody>
</table>

<table>
	<thead>
		<tr>
			<th>제목</th>
			<th>작성일시</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="notice : ${noticeList}">
			<td>
				<a th:href="@{|/notice/detail/${notice.noticeId}|}"
				th:text="${notice.noticeSubject}"></a>
			</td>
			<td th:text="${notice.noticeCreateDate}"></td>
		</tr>
	</tbody>
</table>