<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom pb-2">1:1문의</h5>
	<form th:object="${questionForm}" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" autocapitalize="${_csrf.token}" />
	</form>
	<form th:action="@{/inquire/create}" th:object="${inquireForm}" method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="mb-3">
			<label for="inquireSubject" class="form-label">제목</label>
			<input type="text" th:field="*{inquireSubject}" class="form-control">
		</div>
		<div class="mb-3">
			<label form="inquireContent" class="form-label">내용</label>
			<textarea th:field="*{inquireContent}" class="form-control"
			rows="10"></textarea>
		</div>
		<input type="submit" value="저장하기" class="btn btn-primary my-2">
	</form>
</div>
</html>