<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}"> 
  <!-- basic CSS-->
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="./style.css" />
      <script type="module" src="./index.js"></script>
  <!-- jquery 적용-->
	<script src="/jquery-3.7.1.min.js"></script>
</head>
<body>
  <!-- 내비게이션 바 -->
  <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    <th:block layout:fragment="content"></th:block>
    <!-- 기본 템플릿 안에 삽입될 내용 End -->
    <!-- Bootstrap JS -->
    <script th:src="@{/bootstrap.min.js}"></script>
  <!-- 자바스크립트 START -->
  <th:block layout:fragment="script"></th:block>
  <!-- 자바스크립트 END -->
</body>
</html>
