<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
		<form th:action="@{/mypage/changePassword}" th:object="${passwordChangeForm}" method="post">
	<body>
		<div>
			<h3>AyoPlanner</h3>
			<p>여행 스케줄링 플래너, 에이요플래너</p>
		</div>
		<br></br>
		<h4 class="leftStart-text" style="margin-bottom:30px;"><b>비밀번호 변경</b></h4>
		<div class="leftStart-text">
			<label for="currentPassword" style="font-weight: bold; margin-bottom:10px;">현재 비밀번호</label>
			<input type="password" id="currentPassword" th:field="*{currentPassword}" class="form-control" required>
		</div>
		<div class="leftStart-text" style="margin-top:20px;">
			<label for="newPassword" style="font-weight: bold">새 비밀번호</label>
			<input style="margin-top:10px;" type="password" id="newPassword" th:field="*{newPassword}"
					placeholder="영문, 숫자, 특수문자 포함 8자리 이상" class="form-control" >
		</div>
		<div style="display:flex; margin-top:30px; justify-content: space-between;">
			<a type="button" id="backToMypage" class="custom-btn2-common" value="돌아가기"
				th:href="@{/mypage}" style="margin-right:20px;">돌아가기</a>
			<a><button type="submit" class="custom-btn3-common">회원 정보 수정</button></a>
		</div>
		</form>
	</div>
</html>
