<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
		<!-- 커뮤니티 게시판 메뉴-->
		<div class="post-container">	
		<div class="post-content">
			<h5 class="leftStart-text">공지사항 등록</h5>
			<form th:object="${noticeForm}" method="post" >
				<div th:replace="~{form_errors :: formErrorsFragment}">
				</div>
			<div class="mb-3">
				<label for="noticeSubject" class="leftStart-text"><b>제목</b></label>
				<input type="text" name="noticeSubject" th:field="*{noticeSubject}" id="noticeSubject" class="form-control" placeholder="제목을 입력해주세요.">
			</div>
			<div class="mb-3">
				<label for="noticeContent" class="leftStart-text"><b>내용</b></label>
				<textarea name="noticeContent" id="noticeContent" class="form-control" th:field="*{noticeContent}" rows="10"></textarea>
			</div>
			<input type="submit" value="저장하기" class="custom-btn-post">
		</form>
	</div>
	</div>
</html>