<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
		<!-- 커뮤니티 게시판 메뉴-->
		<div class="post-container">
			<ul class="category">
					<li class="categorybar">
					<a class="category-link" th:href="@{/post/list/joinMember}">가입인사</a>
				</li>
			<li class="categorybar">
				<a class="category-link" th:href="@{/post/list/transportation}">교통</a>
			</li>
			<li class="categorybar">
				<a class="category-link" th:href="@{/post/list/tripplan}">여행일정</a>
			</li>
			<li class="categorybar">
				<a class="category-link" th:href="@{/post/list/city}">도시별</a>
			</li>
			<li class="categorybar">
				<a class="category-link" th:href="@{/post/list/hotel}">숙소</a>
			</li>
			<li class="categorybar">
				<a class="category-link" th:href="@{/post/list/expenses}">쇼핑경비환전</a>
			</li>
			<li class="categorybar">
				<a class="category-link" th:href="@{/post/list/info}">기타여행정보숙소</a>
			</li>
		</ul>
		
		<div class="container-search">
			<div class="row my-3">
				<div class="input-group">
					<input type="text" id="search_kw" class="form-control" th:value="${kw}" placeholder="검색어를 입력하세요.">
					<button class="custom-btn-search" type="button" id="btn_search">찾기</button>
				</div>
			</div>
		</div>
		
		<div class="post-content">
			<h5 class="leftStart-text">게시물 등록</h5>
			<form th:object="${postForm}" method="post" >
				<div th:replace="~{form_errors :: formErrorsFragment}">
				</div>
				<div class="mb-3">
					<label for="category" class="leftStart-text"><b>카테고리</b></label>
					<select class="form-select" th:field="*{category}">
					<option value="">게시판을 선택해주세요.</option> <!--선택안한 비어있는값-->
       				<option value="가입인사">가입인사</option>
       				<option value="교통">교통</option>
        			<option value="여행일정">여행일정</option>
       				<option value="도시별">도시별</option>
        			<option value="숙소">숙소</option>
        			<option value="쇼핑경비환전">쇼핑경비환전</option>
        			<option value="기타여행정보">기타여행정보</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="subject" class="leftStart-text"><b>제목</b></label>
				<input type="text" name="subject" th:field="*{subject}" id="subject" class="form-control" placeholder="제목을 입력해주세요.">
			</div>
			<div class="mb-3">
				<label for="content" class="leftStart-text"><b>내용</b></label>
				<textarea name="content" id="content" class="form-control" th:field="*{content}" rows="10"></textarea>
			</div>
			<input type="submit" value="저장하기" class="custom-btn-post">
		</form>
	</div>
	</div>
</html>
