<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
			<div class="postdetail-container">
				<ul class="category">
					<li class="categorybar">
						<a class="category-link" th:href="@{/post/list/joinMember}">가입인사</a>
					</li>
					<li class="categorybar">
						<a class="category-link" th:href="@{/post/list/transportation}">교통</a>
					</li>
					<li class="categorybar">
						<a class="category-link" th:href="@{/post/list/tripplan}">여행일정</a>
					</li>
					<li class="categorybar">
						<a class="category-link" th:href="@{/post/list/city}">도시별</a>
					</li>
					<li class="categorybar">
						<a class="category-link" th:href="@{/post/list/hotel}">숙소</a>
					</li>
					<li class="categorybar">
						<a class="category-link" th:href="@{/post/list/expenses}">쇼핑경비환전</a>
					</li>
					<li class="categorybar">
						<a class="category-link" th:href="@{/post/list/info}">기타여행정보숙소</a>
					</li>
				</ul>
			<div class="post-content">
				<h3 class="border-bottom py-2" style="max-width: 800px; text-align: left;" th:text="|제목 : ${post.subject}|"></h3>
					<div class="card my-5" style="max-width: 800px;">
						<div class="card-body">
							<div class="card-text" style="white-space: pre-line;" th:utext="${@commonUtil.markdown(post.content)}">
							</div>
							<div th:text="|조회수 : ${post.countview}|" class="d-flex justify-content-end fw-bold">
							</div>
							<div class="d-flex justify-content-end">
								<div th:if="${post.modifyDate != null}" class="badge bg-light text-secondary p-2 text-start mx-3">
									<div class="mb-2">수정일</div>
										<div th:text="${#temporals.format(post.modifyDate, 'yyyy-MM-dd HH:mm')}">
										</div>
								</div>
							<div class ="badge bg-light text-secondary p-2 text-start">
								<div class="mb-2">
									<span th:if="${post.author != null}"
										th:text="${post.author.username}"></span>
								</div>
								<div th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}">
								</div>
							</div>
							</div>
							<div class="d-flex justify-content-start">
								<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary m-1"
									th:data-uri="@{|/post/vote/${post.id}|}">추천
								<span class="badge rounded-pill bg-info"
									th:text="${#lists.size(post.voter)}"></span>
								</a>
								<a th:href="@{|/post/modify/${post.id}|}" class="btn btn-sm btn-outline-secondary m-1"
									sec:authorize="isAuthenticated()"
									th:if="${post.author != null and #authentication.
									getPrincipal().getUsername() == post.author.username}"
									th:text="수정">
								</a>
								<a href="javascript:void(0);"
									th:data-uri="@{|/post/delete/${post.id}|}"
									class="delete btn btn-sm btn-outline-secondary m-1"
									sec:authorize="isAuthenticated()"
									th:if="${post.author != null and
									#authentication.getPrincipal().getUsername() == post.author.username}"
									th:text="삭제">
								</a>
							</div>
						</div>
					</div>
					
	<!-- 답변 개수 표시-->
	<h5 class="border-bottom my-3 py-2" style="max-width: 800px; text-align: left;"
		th:text="|답변 : ${#lists.size(post.answerList)}개|"></h5>
	
	<!-- 답변 반복 시작 -->
	<div class="card my-3" style="max-width: 800px; max-height:150px;" th:each="answer : ${post.answerList}">
		<a th:id="|answer_${answer.id}|"></a> 
		<div class="card-body">
			<div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
				<div class="d-flex justify-content-end">
					<div th:if="${answer.modifyDate != null}" class="badge bg-light text-secondary p-2 text-start mx-3">
						<div class="mb-2">수정일</div>
						<div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
					</div>
					<div class="badge bg-light text-secondary p-2 text-start">
						<div class="mb-2">
							<span th:if="${answer.author != null}"
							th:text="${answer.author.username}"></span>
						</div>
						<div th:text="${#temporals.format(answer.createDate,
					 		'yyyy-MM-dd HH:mm')}"></div>
					</div>
				</div>
				<div class="d-flex justify-content-start">
					<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary m-1"
						th:data-uri="@{|/answer/vote/${answer.id}|}">추천
						<span class="badge rounded-pill bg-info"
							th:text="${#lists.size(answer.voter)}"></span>
					</a>
						
					<a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary m-1"
						sec:authorize="isAuthenticated()"
						th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
						th:text="수정"></a>
					
					<a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
						class="delete btn btn-sm btn-outline-secondary m-1"
						sec:authorize="isAuthenticated()"
						th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
						th:text="삭제"></a>
				</div>
			</div>
		</div>	
	<!--답변 반복 끝 -->
	
	<!-- 답변 작성 -->
	<form th:action="@{|/answer/create/${post.id}|}" style="max-width: 800px;" th:object="${answerForm}"| method="post" class="my-3">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
			<textarea sec:authorize="isAnonymous()" disabled
				th:field="*{content}" class="form-control" rows="10"></textarea>
				<textarea sec:authorize="isAuthenticated()"
				th:field="*{content}" class="form-control" rows="10"></textarea>
				<input type="submit" value="답변 등록" class="custom-btn-post">
				</form>
		</div>
			
	<script layout:fragment="script" type="text/javascript">
		const delete_elements = document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function(element) {
			element.addEventListener('click', function() {
					if(confirm("정말로 삭제하시겠습니까?")) {
						location.href = this.dataset.uri;
					};
				});
			});
		
		const recommend_elements = document.getElementsByClassName("recommend");
		Array.from(recommend_elements).forEach(function(element){
			element.addEventListener('click', function() {
				if(confirm("정말로 추천하시겠습니까?")) {
					location.href = this.dataset.uri;
				};
			});
		});
	</script>
</html>
