<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <form th:action="@{/tempPassword}" th:object="${tempPasswordForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="tempPassword-container">
        	<div>
				<h3>AyoPlanner</h3>
				<p>여행 스케줄링 플래너, 에이요플래너</p>
				<br></br>
				<b>가입 시 등록하신 이메일 주소로 임시비밀번호를 발송해드립니다.</b>
				<br></br>
			</div>
			<div class="leftStart-text" style="margin-bottom:20px;">
            	<label for="email" class="form-label"><b>이메일</b></label>
            	<input type="text" name="email" id="email" class="form-control">
        	</div>
        <button type="submit" class="custom-btn3-common">비밀번호 받기</button>
    </form>
	</div>
</div>
</html>
